<h1>toutes les taches</h1>
<style>
.test {
  background-color: black;
}
</style>

<% @tasks.each do |task| %>
<div class="test">
<p><%= link_to "#{task.title}", task_path(task) %>
</p>
</div>
<% end %>

<%= link_to'nouveaux', tasks_new_path %>
